<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" href="#">Header and SideNav</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
        >
          Menu1
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Child1</a></li>
          <li><a class="dropdown-item" href="#">Child2</a></li>
          <li><a class="dropdown-item" href="#">Child3</a></li>
          <li><a class="dropdown-item" href="#">Child4</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="profile-logo dropstart">
    <button
      class="btn btn-outline-light dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Anant
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="#">Sign Up</a></li>
      <li><a class="dropdown-item" href="#">Login</a></li>
      <li><a class="dropdown-item" href="#">Your Profile</a></li>
      <li><a class="dropdown-item" href="#">Log out</a></li>
    </ul>
  </div>
</nav>
